VITE_SUPABASE_URL=https://bhnsyvqfcgrdjzscdmom.supabase.co
VITE_SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJobnN5dnFmY2dyZGp6c2NkbW9tIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQ1MDE4ODIsImV4cCI6MjA5MDA3Nzg4Mn0.OXDuJNFbHJWMIPL_Z5apdjwAlBcpEhjo0FXbVu56rPo